.listMovie {
  .slick-next {
    // background-color: trasp;
    width: 50px;
    height: 50px;
    right: 10px;
    color: orange;
    font-size: 50px;
    &::before {
      display: none;
    }
  }
  .slick-prev {
    left: 10px;
    color: orange;
    font-size: 50px;
    z-index: 2;
    &::before {
      display: none;
    }
  }
  .slick-next,
  .slick-prev {
    transition: all 0.3 ease;
  }
  .fa-chevron-right:hover,
  .fa-chevron-left:hover {
    color: green;
    opacity: 0.6;
  }
}
.movie_item {
  position: relative;

  &:hover {
    .btn_button {
      opacity: 1;
    }
  }

  .movie_content {
    position: relative;
    overflow: hidden; /* Đảm bảo nội dung không tràn ra ngoài khi chuyển đổi kích thước */

    &:hover {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1; /* Đảm bảo nó chồng lên phía trên */
      transition: all 0.3s;
    }
  }

  .btn_button {
    display: block;
    background-color: red;
    padding: 30px 145px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    top: 380px;
    right: auto;
    cursor: pointer;
    transition: opacity 0.5; /* Thêm hiệu ứng transition */
    z-index: 3;
    white-space: nowrap;
  }
  .play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
    opacity: 0; /* Ẩn nút ban đầu */
    transition: opacity 0.3s ease; /* Hiệu ứng chuyển đổi mờ dần */
    align-items: center;
  }

  .carousel_banner:hover .play-button {
    opacity: 1; /* Hiện nút khi hover vào banner */
  }

  .play-button::before {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5); /* Màu mờ */
    border-radius: 50%;
    z-index: -1;
  }

  .icon_content {
    font-size: 35px;
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ mờ 50% */
    z-index: 999; /* Đảm bảo overlay nằm trên cùng */
    display: none; /* Ẩn lớp overlay mặc định */
  }

  .overlay.active {
    display: block; /* Hiển thị lớp overlay khi active */
  }
  .icon_item i {
    padding-bottom: 80px;
  }
}
